# Python compiled files
*.pyc
__pycache__/

# Virtual environment
venv/
.venv/

# IDE-specific files
.idea/
.vscode/

# macOS specific files
.DS_Store
._*

# Log files
*.log

# Environment variables
.env

# Build artifacts
dist/
build/
*.egg-info/